Email groups in Email 'addresses' property

The spec says this:

````
Addresses (EmailAddress[])

The header is parsed as an address-list value, as specified in [@!RFC5322] section 3.4, into the EmailAddress[] type. The EmailAddress object has the following properties:

    name: String|null The display-name of the [@!RFC5322] mailbox or group, or null if none. If this is a quoted-string:
        The surrounding DQUOTE characters are removed.
        Any quoted-pair is decoded.
        White-space is unfolded, and then any leading or trailing white-space is removed.
    email: String|null The addr-spec of the [@!RFC5322] mailbox, or null if a group.
````

The spec does not appear to recommend sentinel values so a client can tell when a group ends (cyrus does this, for example).

So if you have:

    foo:a@b.com,c@d.com;,bar:g@what.com;,e@f.com

You'd get:

````
      #           'header:From:asAddresses' => [
        #             {
        #               'email' => undef,
        #               'name' => 'foo'
        #             },
        #             {
        #               'email' => 'a@b.com',
        #               'name' => undef
        #             },
        #             {
        #               'email' => 'c@d.com',
        #               'name' => undef
        #             },
        #             {
        #               'email' => undef,
        #               'name' => undef
        #             },
        #             {
        #               'email' => undef,
        #               'name' => 'bar'
        #             },
        #             {
        #               'email' => 'g@what.com',
        #               'name' => undef
        #             },
        #             {
        #               'email' => undef,
        #               'name' => undef
        #             },
        #             {
        #               'email' => 'e@f.com',
        #               'name' => undef
        #             }
````

Without the sentinal between g@what.com and e@f.com, a client might think e@f.com was part of group 'bar'.