draft-ietf-jmap-core: Missing reference to MIME spec(s)

5.1.  201: File uploaded successfully
   o  *type*: "String" The content type of the file.

This should reference Section 4.2 of RFC 6838, which defines syntax for MIME types.