Define how to translate RFC5322 msg-id to Email/MessageIds header form

The JMAP spec defines the Email/MessageIds header form as

> the header is parsed as a list of msg-id values, as specified in [@!RFC5322] section 3.6.4

and RFC 5322 defines the `msg-id` value as

    msg-id = [CFWS] "<" id-left "@" id-right ">" [CFWS]

However, splitting this in JMAP is ambiguous for multi-value headers such as `References`:

E.g. the sequence `CFWS <foo> CFWS <bar> CFWS` could be split into an array

    [ CFWS <foo> CFWS], [<bar> CFWS]

or

    [ CFWS <foo>], [CFWS <bar> CFWS]

Furthermore, if CFWS is included in the `MessageIds` it's questionable if there is much use over using the raw header form.

Should the JMAP spec redefine the `MessageIds` form to omit CFWS and be an array of either

    "<" id-left "@" "id-right" ">"

or even just

     id-left "@" "id-right"

depending on what works better for clients?

