Add submissionExtensions to capability object

This goes with issue #124.

I suggest adding:
submissionExtensions: { ehlo-name (String) : ehlo-args (String[]) }
to the JMAP capability object.

A JMAP implementation that talks to a Submission (RFC 6409) server SHOULD have a configuration setting that allows an administrator to expose a new submission EHLO capability in this field. This allows a JMAP server to gain access to a new submission extension without code changes. By default, the JMAP server should show only known safe-to-expose EHLO capabilities in this field, and hide EHLO capabilites that are only relevant to the JMAP server.

Here are examples of safe-to-expose Submission extensions:
FUTURERELEASE (RFC 4865)
SIZE (RFC 1870)
DSN (RFC 3461)
DELIVERYBY (RFC 2852)
MT-PRIORITY (RFC 6710)

In the case of FUTURERELEASE, a JMAP server MAY advertise that extension and implement the semantics of that extension locally on the JMAP server even if a submission server used by JMAP doesn't implement it.


The overall goal here is to get a loose coupling between JMAP and Submission. The idea is that when a submission extension exists, JMAP can get toll-free use of that extension without additional changes to the JMAP spec or the JMAP server implementation. However, we also want to allow JMAP servers to automate or locally implement submission extensions when appropriate.

There are also extensions like RRVS (RFC 7293) that no JMAP client will bother implementing, but when a JMAP server gets address book integration it can just silently implement that extension.

Full IANA registry of submission extensions:

https://www.iana.org/assignments/mail-parameters/mail-parameters.xhtml#mail-parameters-2

I've added this in to https://github.com/jmapio/jmap/pull/99